<settings>
<category label="Paths and DATs">
    <setting id="separator" type="lsep" label="Mandatory paths" />
    <setting label="MAME executable" type="file"   id="mame_prog" />
    <setting label="MAME ROMs path"  type="folder" id="rom_path" source="auto" option="" />
    
    <setting id="separator" type="lsep" label="Optional paths" />
    <setting label="MAME assets path"         type="folder" id="assets_path" source="auto" option="" />
    <setting label="MAME CHDs path"           type="folder" id="chd_path" source="auto" option="" />
    <setting label="Software Lists hash path" type="folder" id="SL_hash_path" source="auto" option="" />
    <setting label="Software Lists ROMs path" type="folder" id="SL_rom_path" source="auto" option="" />
    <setting label="Software Lists CHDs path" type="folder" id="SL_chd_path" source="auto" option="" />
    <setting label="Samples path"             type="folder" id="samples_path" source="auto" option="" />

    <setting id="separator" type="lsep" label="Optional DATs" />
    <setting label="Catver.ini path"          type="file"   id="catver_path" />
    <setting label="Catlist.ini path"         type="file"   id="catlist_path" />
    <setting label="Genre.ini path"           type="file"   id="genre_path" />
    <setting label="nplayers.ini path"        type="file"   id="nplayers_path" />
    <setting label="bestgames.ini path"       type="file"   id="bestgames_path" />
    <setting label="series.ini path"          type="file"   id="series_path" />
    <setting label="history.dat path"         type="file"   id="history_path" />
    <setting label="mameinfo.dat path"        type="file"   id="mameinfo_path" />
    <setting label="gameinit.dat path"        type="file"   id="gameinit_path" />
    <setting label="command.dat path"         type="file"   id="command_path" />
</category>
<category label="ROM sets">
    <setting label="MAME ROM set" type="enum" id="mame_rom_set"  default="1" values="Merged|Split|Non-merged" />
    <setting label="MAME CHD set" type="enum" id="mame_chd_set"  default="0" values="Merged|Split|Non-merged" />
</category>
<category label="Display">
    <setting label="MAME view mode" type="enum" id="mame_view_mode"  default="1" values="Flat|Parent/Clone|Parents only" />
    <setting label="Software Lists view mode" type="enum" id="sl_view_mode"  default="1" values="Flat|Parent/Clone|Parents only" />
    <setting label="Hide non-working machines" type="bool" default="false" id="display_hide_nonworking" />
    <setting label="Hide imperfect machines" type="bool" default="false" id="display_hide_imperfect" />
    <setting label="Display machines with available ROMs only" type="bool" default="false" id="display_rom_available" />
    <setting label="Display machines with available CHDs only" type="bool" default="false" id="display_chd_available" />
</category>
<category label="Artwork">
    <setting label="MAME icon" type="enum" id="artwork_mame_icon"  default="0" values="Title|Snap|Flyer|Cabinet|PCB" />
    <setting label="MAME fanart" type="enum" id="artwork_mame_fanart"  default="0" values="Snap|Title|Flyer|CPanel" />
    <setting label="Software Lists icon" type="enum" id="artwork_SL_icon"  default="0" values="Boxfront|Title|Snap" />
    <setting label="Software Lists fanart" type="enum" id="artwork_SL_fanart"  default="0" values="Snap|Title" />
</category>
<category label="Advanced">
    <setting label="Log level" type="enum" id="log_level" default="2" values="ERROR|WARNING|INFO|VERBOSE|DEBUG" />
</category>
</settings>
