<settings>
<category label="Paths">
    <setting id="separator" type="lsep" label="Mandatory paths" />
    <setting label="MAME executable" type="file"   id="mame_prog" />
    <setting label="ROMs path"       type="folder" id="rom_path" source="auto" option="" />
    
    <setting id="separator" type="lsep" label="Optional paths" />
    <setting label="MAME assets path"         type="folder" id="assets_path" source="auto" option="" />
    <setting label="Software Lists hash path" type="folder" id="SL_hash_path" source="auto" option="" />
    <setting label="Software Lists ROMs path" type="folder" id="SL_rom_path" source="auto" option="" />
    <setting label="CHDs path"                type="folder" id="chd_path" source="auto" option="" />
    <setting label="Samples path"             type="folder" id="samples_path" source="auto" option="" />
    <setting label="Catver.ini path"          type="file" id="catver_path" />
    <setting label="Catlist.ini path"         type="file" id="catlist_path" />
    <setting label="Genre.ini path"           type="file" id="genre_path" />
</category>
<category label="Display">
    <setting label="Display available ROMs only" type="bool" default="false" id="display_available_only" />
</category>
<category label="Advanced">
    <setting label="Log level" type="enum" id="log_level" default="2" values="ERROR|WARNING|INFO|VERBOSE|DEBUG" />
</category>
</settings>
